<div class="carousel">
    <h2>Trending Movies</h2>
    <div class="container" id="img">
        <img src="../../../assets/img/poster-2.png" alt="" class="item">
        <img src="../../../assets/img/poster-3.png" alt="" class="item">
        <img src="../../../assets/img/poster-1.png" alt="" class="item">
        <img src="../../../assets/img/poster-4.png" alt="" class="item">
        <img src="../../../assets/img/poster-1.png" alt="" class="item">
        <img src="../../../assets/img/poster-2.png" alt="" class="item">
        <img src="../../../assets/img/poster-3.png" alt="" class="item">
        <img src="../../../assets/img/poster-1.png" alt="" class="item">
        <img src="../../../assets/img/poster-2.png" alt="" class="item">
        <img src="../../../assets/img/poster-3.png" alt="" class="item">
        <button type="button" id="btnleft"><img src="../../../assets/img/arrow.png" alt="" class="button-image" appPreviousButton></button>
        <button type="button" id="btnright"><img src="../../../assets/img/arrow.png" alt="" class="button-image" appNextButton></button>
    </div>
</div>