*{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    color: #F3F4F7;
}

html{
    background-color: #1B2430;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    
}

