<div class="menu-container">
    <div class="hamburguer"><img src="./assets/img/icon-hamburguer.png" alt=""></div>
    <div class="menu-container-title">
        <h2><a href="">Thriller</a></h2>
        <h3><a href="">Hub</a></h3>
    </div>
    <span>
        <ul class="links">
            <li><a href="#">My list</a></li>
            <li><a href="#">Films</a></li>
            <li><a href="#">Series</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Top IMDB</a></li>
        </ul>
    </span>
    <div class="search">
        <input type="text" placeholder="Search the film..." class="search-text">
        <div class="search-icon"></div>
    </div>
    <a href="login" class="login">Login</a>
    <a href="user"><img src="./assets/img/icons-user.png" alt="User Icon image" class="login-icon"></a>
</div>